<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Transforme seus objetivos de fitness em realidade com o SmartHealth. Nossa inteligência artificial cria treinos sob medida, adaptando-se ao seu progresso.</p>
      </div>
      <div class="col-lg-4">
        <p> À medida que você progride, nosso aplicativo se adapta. Treine de forma mais eficaz e inteligente. Baixe agora e experimente a revolução no fitness! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.figma.com/proto/Z3jebYc1s4ve0VETMxqDDP/SmartHealth---IHC?type=design&node-id=1-4&scaling=scale-down&page-id=0%3A1&starting-point-node-id=1%3A4" class="btn btn-lg btn-outline" target="_blank">
          <i class="fa fa-download"></i> Figma Link
        </a>
      </div>
    </div>
  </div>
</section>
